
<% if(desktopdisplay){ %>
  <div class="dashboard__sidebar d-none d-lg-block">
      <div class="dashboard_sidebar_list">
        <div class="sidebar_list_item">
          <a href="/dashboard" class="items-center <%= activeurl == '/' ? '-is-active' : '' %>"><i class="flaticon-discovery mr15"></i>Dashboard</a>
        </div>
        <p class="fz15 fw400 ff-heading mt30">MANAGE LISTINGS</p>
        <div class="sidebar_list_item ">
          <a href="/dashboard/newlocation" class="items-center <%= activeurl.startsWith('/newlocation') ? '-is-active' : '' %>"><i class="flaticon-new-tab mr15"></i>Add New Location</a>
        </div>
        <div class="sidebar_list_item">
          <a href="/dashboard/newproperty" class="items-center <%= activeurl.startsWith('/newproperty') ? '-is-active' : '' %>"><i class="flaticon-new-tab mr15"></i>Add New Property</a>
        </div>
        <div class="sidebar_list_item ">
          <a href="/dashboard/myprops" class="items-center <%= activeurl == '/myprops' ? '-is-active' : '' %>"><i class="flaticon-home mr15"></i>My Listings</a>
        </div>
        <% if(user.admin || user.adminaccess){%>
          <div class="sidebar_list_item ">
            <a  class="items-center <%= activeurl.toLowerCase() == '/managelisting' ? '-is-active' : '' %>" href="/admin/managelisting"><i class="flaticon-like mr10"></i> Manage Listing</a>
          </div>
          <div class="sidebar_list_item">
            <a href="/admin/editedlist/" class="items-center <%= activeurl.includes('/editedlist') ? '-is-active' : '' %>"><i class="flaticon-protection mr15"></i> Edited Listing </a>
          </div>
        <%}%>
        <p class="fz15 fw400 ff-heading mt30">MANAGE ACCOUNT</p>
        <div class="sidebar_list_item">
          <a href="/admin/manageaccounts" class="items-center <%= activeurl == '/manageaccounts' ? '-is-active' : '' %>"><i class="flaticon-protection mr15"></i> Manage Accounts </a>
        </div>
        <div class="sidebar_list_item">
          <a href="/dashboard/profile" class="items-center <%= activeurl == '/profile' ? '-is-active' : '' %>"><i class="flaticon-user mr15"></i>My Profile</a>
        </div>
        <div class="sidebar_list_item ">
          <a href="/dashboard/logout" class="items-center"><i class="flaticon-logout mr15"></i>Logout</a>
        </div>
      </div>
    </div>
<%}else{%>
  <div class="dashboard_navigationbar d-block d-lg-none">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn"><i class="fa fa-bars pr10"></i> Dashboard Navigation</button>
      <ul id="myDropdown" class="dropdown-content">
        <li class="<%= activeurl == '/dashboard' ? 'active' : '' %>"><a href="/dashboard"><i class="flaticon-discovery mr10"></i>Dashboard</a></li>
        <li class="<%= activeurl == '/' ? '-is-active' : '' %>"><a href="page-dashboard-message.html"><i class="flaticon-chat-1 mr10"></i>Message</a></li>
        <li><p class="fz15 fw400 ff-heading mt30 pl30">MANAGE LISTINGS</p></li>
        <li class="<%= activeurl == '/newproperty' ? 'active' : '' %>"><a href="/dashboard/newlocation"><i class="flaticon-new-tab mr10"></i>Add New Location</a></li>
        <li class="<%= activeurl == '/newproperty' ? 'active' : '' %>"><a href="/dashboard/newproperty"><i class="flaticon-new-tab mr10"></i>Add New Property</a></li>
        <li class="<%= activeurl == '/myprops' ? 'active' : '' %>"><a href="/dashboard/myprops"><i class="flaticon-home mr10"></i>My Properties</a></li>
        <li class="<%= activeurl == '/myprops' ? 'active' : '' %>"><a href="/admin/managelisting"><i class="flaticon-home mr10"></i>ManageListing</a></li>
        <li><p class="fz15 fw400 ff-heading mt30 pl30">MANAGE ACCOUNT</p></li>
        <% if(user.admin || user.adminaccess ){%>
          <li class="<%= activeurl == '/manageaccounts' ? 'active' : '' %>"><a href="/admin/manageaccounts"><i class="flaticon-protection mr10"></i>Manage Accounts</a></li>
        <%}%>
        <li class="<%= activeurl == '/profile' ? 'active' : '' %>"><a href="/dashboard/profile"><i class="flaticon-user mr10"></i>My Profile</a></li>
        <li><a class="" href="/dashboard/logout"><i class="flaticon-exit mr10"></i>Logout</a></li>
      </ul>
    </div>
  </div>
<%}%>