<style>
  @media (max-width: 400px){
    .dashboard__content {
        padding: 30px 10px;
    }
  }
</style>
  <!-- Main Header Nav -->
  <header class="header-nav nav-innerpage-style menu-home4 dashboard_header main-menu">
    <!-- Ace Responsive Menu -->
    <nav class="posr"> 
      <div class="container-fluid pr30 pr15-xs pl30 posr menu_bdrt1">
        <div class="row align-items-center justify-content-between">
          <div class="col-6 col-lg-auto">
            <div class="text-center text-lg-start d-flex align-items-center">
              <div class="dashboard_header_logo position-relative me-2 me-xl-5">
                <a href="/" class="logo"><img src="/x-x/images/unizik-housing-dark.svg" alt=""></a>
              </div>
              <div class="fz20 ms-2 ms-xl-5">
                <a href="#" class="dashboard_sidebar_toggle_icon text-thm1 vam"><img src="/x-x/images/dark-nav-icon.svg" alt=""></a>
              </div>
            </div>
          </div>
          <!-- <div class="col-6 col-lg-auto">
            <div class="text-center text-lg-end header_right_widgets">
              <ul class="mb0 d-flex justify-content-center justify-content-sm-end p-0">
                <li class="d-none d-sm-block">
                  <a class="ud-btn add-property menu-btn bdrs60 mx-2 mx-xl-4 bg-success text-white" href="/dashboard/newproperty">Add Property<i class="fal fa-arrow-right-long"></i></a>
                </li>
                <li class=" user_setting">
                  <div class="dropdown">
                    <a class="btn" href="#" data-bs-toggle="dropdown">
                      <img src="/x-x/images/resource/user.png" alt="user.png"> 
                    </a>
                    <div class="dropdown-menu">
                      <div class="user_setting_content">
                        <p class="fz15 fw400 ff-heading mb20">MAIN</p>
                        <a class="dropdown-item active" href="/dashboard"><i class="flaticon-discovery mr10"></i>Dashboard</a>
                        <a class="dropdown-item" href="page-dashboard-message.html"><i class="flaticon-chat-1 mr10"></i>Message</a>
                        <p class="fz15 fw400 ff-heading mt30">MANAGE LISTINGS</p>
                        <a class="dropdown-item" href="/dashboard/newproperty"><i class="flaticon-new-tab mr10"></i>Add New Property</a>
                        <a class="dropdown-item" href="/dashboard/myprops"><i class="flaticon-home mr10"></i>My Properties</a>
                        <a class="dropdown-item" href="/dashboard/myfavs"><i class="flaticon-like mr10"></i>My Favorites</a>
                        <p class="fz15 fw400 ff-heading mt30">MANAGE ACCOUNT</p>
                        <a class="dropdown-item" href="/dashboard/manageaccounts"><i class="flaticon-protection mr10"></i>Manage Accounts</a>
                        <a class="dropdown-item" href="/dashboard/profile"><i class="flaticon-user mr10"></i>My Profile</a>
                        <a class="dropdown-item" href="/dashboard/logout"><i class="flaticon-exit mr10"></i>Logout</a>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </nav>
  </header>

  <!-- Mobile Nav  -->
  <div id="page" class="mobilie_header_nav stylehome1">
    <div class="mobile-menu">
      <div class="header innerpage-style">
        <div class="menu_and_widgets">
          <div class="mobile_menu_bar d-flex justify-content-between align-items-center">
            <a class="menubar" href="#menu"><img src="/x-x/images/mobile-dark-nav-icon.svg" alt=""></a>
            <a class="mobile_logo" href="#"><img src="/x-x/images/unizik-housing-dark.svg" class="w-50" alt=""></a>
            <a href="page-login.html"><span class="icon fz18 far fa-user-circle"></span></a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.mobile-menu -->
    <nav id="menu" class="">
      <style>
        .x_custom li.active a {
        background-color: #181A20; 
        color: #FFFFFF;
      }
      </style>
      <ul class="x_custom">
        <li class="<%= activeurl == '/' ? 'active' : '' %>"><a href="/dashboard"><i class="flaticon-discovery mr10"></i>Dashboard</a></li>
        <li><p class="fz15 fw400 ff-heading mt30 pl30">MANAGE LISTINGS</p></li>
        <li class="<%= activeurl == '/newlocation' ? 'active' : '' %>"><a href="/dashboard/newlocation"><i class="flaticon-new-tab mr10"></i>Add New Location</a></li>
        <li class="<%= activeurl == '/newproperty' ? 'active' : '' %>"><a href="/dashboard/newproperty"><i class="flaticon-new-tab mr10"></i>Add New Property</a></li>
        <li class="<%= activeurl == '/myprops' ? 'active' : '' %>"><a href="/dashboard/myprops"><i class="flaticon-home mr10"></i>My Properties</a></li>
        <li class="<%= activeurl == '/managelisting' ? 'active' : '' %>"><a href="/admin/managelisting"><i class="flaticon-home mr10"></i>ManageListing</a></li>
        <li><p class="fz15 fw400 ff-heading mt30 pl30">MANAGE ACCOUNT</p></li>
        <% if(user.admin || user.adminaccess ){%>
          <li class="<%= activeurl == '/manageaccounts' ? 'active' : '' %>"><a href="/admin/manageaccounts"><i class="flaticon-protection mr10"></i>Manage Accounts</a></li>
        <%}%>
        <li class="<%= activeurl == '/profile' ? 'active' : '' %>"><a href="/dashboard/profile"><i class="flaticon-user mr10"></i>My Profile</a></li>
        <li><a class="" href="/dashboard/logout"><i class="flaticon-exit mr10"></i>Logout</a></li>
      </ul>
    </nav>
  </div>
