
  <!-- Filter Content In Hiddn SideBar -->
  <form class="lefttside-hidden-bar px-3" method="GET" action="/listings/filter" >
    <div class="widget-wrapper mt40">
      <h6 class="list-title">Listing Status</h6>
      <%propSelection.forEach((property, i)=>{%>
        <div class="radio-element">
          <div class="form-check d-flex align-items-center mb10">
            <input class="form-check-input" type="radio" name="proptype" id="<%= property.split('')[0] + i %>">
            <label class="form-check-label" for="<%= property.split('')[0] + i %>"> <%= property %></label>
          </div>
          </div>
      <%})%>
    </div>
      <div class="widget-wrapper">
        <!-- <h6 class="list-title">Price Range</h6> -->
        <!-- Range Slider Desktop Version -->
        <div class="range-slider-style large-version">
          <div class="range-wrapper">
            <!-- <div class="slider-range mb30 mt35"></div> -->
            <div class="row">
              <div class="d-inline-block col-11 col-sm-10">
                  <h6 class="list-title">Max Budget</h6>
                  <input type="number" class="amount2 w-100"  name="max" placeholder="&#x20A6;150000">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="widget-wrapper d-none">
        <h6 class="list-title">Price Range</h6>
        <!-- Range Slider Mobile Version -->
        <div class="range-slider-style2">
          <div class="range-wrapper">
            <div class="mb30 mt35" id="slider"></div>
            <div class="d-flex align-items-center">
              <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
              <span id="slider-range-value2"></span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="widget-wrapper">
        <h6 class="list-title">Bedrooms</h6>
        <div class="d-flex">
          <div class="selection">
            <input id="xany" name="rooms" value="0" type="radio" checked>
            <label for="xany">any</label>
          </div>
          <div class="selection">
            <input id="xoneplus" name="rooms" value="1" type="radio">
            <label for="xoneplus">1+</label>
          </div>
          <div class="selection">
            <input id="xtwoplus" name="rooms" value="2" type="radio">
            <label for="xtwoplus">2+</label>
          </div>
          <div class="selection">
            <input id="xthreeplus" name="rooms" value="3" type="radio">
            <label for="xthreeplus">3+</label>
          </div>
          <div class="selection">
            <input id="xfourplus" name="rooms" value="4" type="radio">
            <label for="xfourplus">4+</label>
          </div>
          <div class="selection">
            <input id="xfiveplus" name="rooms" value="5" type="radio">
            <label for="xfiveplus">5+</label>
          </div>
        </div>
      </div>
      
      <div class="widget-wrapper">
        <h6 class="list-title">Bathrooms</h6>
        <div class="d-flex">
          <div class="selection">
            <input id="yany" name="bathrooms" value="0" type="radio" checked>
            <label for="yany">any</label>
          </div>
          <div class="selection">
            <input id="yoneplus" name="bathrooms" value="1" type="radio">
            <label for="yoneplus">1+</label>
          </div>
          <div class="selection">
            <input id="ytwoplus" name="bathrooms" value="2" type="radio">
            <label for="ytwoplus">2+</label>
          </div>
          <div class="selection">
            <input id="ythreeplus" name="bathrooms" value="3" type="radio">
            <label for="ythreeplus">3+</label>
          </div>
          <div class="selection">
            <input id="yfourplus" name="bathrooms" value="4" type="radio">
            <label for="yfourplus">4+</label>
          </div>
          <div class="selection">
            <input id="yfiveplus" name="bathrooms" value="5" type="radio">
            <label for="yfiveplus">5+</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 mb20">
          <div class="widget-wrapper">
            <h6 class="list-title">Local Governments</h6>
            <div class="form-style2 input-group">
              <select class="selectpicker" xlocalgovs-selector="xareaTarget-1" name="localgovs" data-live-search="true" data-width="100%">
                <option value="">All Local Governments</option>
          
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-12 mb20">
          <div class="widget-wrapper">
            <h6 class="list-title">CITY</h6>
            <div class="form-style2 input-group">
              <select class="selectpicker" name="area"  xareaTarget-1 data-live-search="true" data-width="100%">
                <option value=""> All Cities</option>
          
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <div class="feature-accordion">
          <div class="accordion" id="accordionExample2">
            <div class="accordion-item border-none">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button border-none p-0 after-none feature-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><span class="flaticon-settings"></span> Other Features</button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                <div class="accordion-body p-0 mt15">
                  <div class="widget-wrapper mb20">
                    <div class="checkbox-style1 row px-2">
                      <% amenities.forEach(amenity=>{%>
                        <label class="custom_checkbox col-sm-6"> <%= amenity.name %>
                          <input type="checkbox" name="amenities" value="<%= amenity.value %>">
                          <span class="checkmark"></span>
                        </label>
                    <%})%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper mb20">
        <div class="btn-area d-grid align-items-center">
          <button class="ud-btn btn-thm" type="submit"><span class="flaticon-search align-text-top pr10"></span>Search</button>
        </div>
      </div>
      <div class="reset-area d-flex align-items-center justify-content-between">
        <a class="reset-button" href="/listings"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
        <!-- <a class="reset-button" href="#"><span class="flaticon-favourite"></span><u>Save Search</u></a> -->
      </div>
  </form>
  <!--End Filter Content In Hiddn SideBar -->



  <div class="advance-feature-modal">
    <input type="hidden" namex="division" value="<%= JSON.stringify(division) %>">

    <!-- Modal -->
    <form method="GET" action="/listings/filter" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header pl30 pr30">
            <h5 class="modal-title" id="exampleModalLabel">More Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-0">
            <div class="row">
                <div class="col-12">
                  <div class="widget-wrapper">
                    <h6 class="list-title">Type</h6>
                    <div class="form-style2 input-group">
                      <select class="selectpicker" name="proptype" data-live-search="true" data-width="100%">
                        <option value="">Property</option>
                        <%propSelection.forEach(property=>{%>
                            <option data-tokens="<%= property %>" value="<%= property %>"><%= property %></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper">
                  <!-- <h6 class="list-title">Price Range</h6> -->
                  <!-- Range Slider Desktop Version -->
                  <div class="range-slider-style large-version">
                    <div class="range-wrapper">
                      <!-- <div class="slider-range mb30 mt35"></div> -->
                      <div class="row">
                        <!-- <div class="d-inline-block col-sm-6">
                            <h6 class="list-title">Min</h6>
                            <input type="number" class="amount w-100"  name="min" placeholder="&#x20A6;70000"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                        </div> -->
                        <div class="d-inline-block col-sm-12">
                            <h6 class="list-title">Max Budget</h6>
                            <input type="number" class="amount2 w-100"  name="max" placeholder="&#x20A6;150000">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bedrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="xany" name="rooms" value="0" type="radio" checked>
                      <label for="xany">any</label>
                    </div>
                    <div class="selection">
                      <input id="xoneplus" name="rooms" value="1" type="radio">
                      <label for="xoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="xtwoplus" name="rooms" value="2" type="radio">
                      <label for="xtwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="xthreeplus" name="rooms" value="3" type="radio">
                      <label for="xthreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="xfourplus" name="rooms" value="4" type="radio">
                      <label for="xfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="xfiveplus" name="rooms" value="5" type="radio">
                      <label for="xfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bathrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="yany" name="bathrooms" value="0" type="radio" checked>
                      <label for="yany">any</label>
                    </div>
                    <div class="selection">
                      <input id="yoneplus" name="bathrooms" value="1" type="radio">
                      <label for="yoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="ytwoplus" name="bathrooms" value="2" type="radio">
                      <label for="ytwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="ythreeplus" name="bathrooms" value="3" type="radio">
                      <label for="ythreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="yfourplus" name="bathrooms" value="4" type="radio">
                      <label for="yfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="yfiveplus" name="bathrooms" value="5" type="radio">
                      <label for="yfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Local Governments</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" xlocalgovs-selector="xareaTarget-2" name="localgovs" data-live-search="true" data-width="100%">
                      <option value="">All Local Governments</option>
                
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">CITY</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" name="area" xareaTarget-2 data-live-search="true" data-width="100%">
                      <option value=""> All Cities</option>
                
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper mb0">
                  <h6 class="list-title mb10">Amenities</h6>
                </div>
              </div>
              <div>
                <div class="widget-wrapper mb20">
                  <div class="checkbox-style1 row">
                    <% amenities.forEach(amenity=>{%>
                      <label class="custom_checkbox col-sm-6"> <%= amenity.name %>
                        <input type="checkbox" name="amenities" value="<%= amenity.value %>">
                        <span class="checkmark"></span>
                      </label>
                  <%})%>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
            <div class="btn-area">
              <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="hiddenbar-body-ovelay"></div>