
  <!-- Filter Content In Hiddn SideBar -->
  <div class="lefttside-hidden-bar">
    <div class="hsidebar-header">
      <div class="sidebar-close-icon"><span class="far fa-times"></span></div>
    </div>
    <div class="hsidebar-content">
      <div class="widget-wrapper">
        <h6 class="list-title">Find your home</h6>
        <div class="search_area">
          <input type="text" class="form-control" placeholder="What are you looking for?">
          <label><span class="flaticon-search"></span></label>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Listing Status</h6>
        <div class="radio-element">
          <div class="form-check d-flex align-items-center mb10">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
            <label class="form-check-label" for="flexRadioDefault4">Buy</label>
          </div>
          <div class="form-check d-flex align-items-center mb10">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" checked="checked">
            <label class="form-check-label" for="flexRadioDefault5">Rent</label>
          </div>
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
            <label class="form-check-label" for="flexRadioDefault6">Sold</label>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Property Type</h6>
        <%propSelection.forEach(property=>{%>
          <div class="checkbox-style1">
            <label class="custom_checkbox"> <%= property %>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            </div>
        <%})%>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Price Range</h6>
        <!-- Range Slider Mobile Version -->
        <div class="range-slider-style2">
          <div class="range-wrapper">
            <div class="mb30 mt35" id="slider"></div>
            <div class="d-flex align-items-center">
              <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
              <span id="slider-range-value2"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Bedrooms</h6>
        <div class="d-flex">
          <div class="selection">
            <input id="any2" name="beds" type="radio" checked>
            <label for="any2">any</label>
          </div>
          <div class="selection">
            <input id="oneplus2" name="beds" type="radio">
            <label for="oneplus2">1+</label>
          </div>
          <div class="selection">
            <input id="twoplus2" name="beds" type="radio">
            <label for="twoplus2">2+</label>
          </div>
          <div class="selection">
            <input id="threeplus2" name="beds" type="radio">
            <label for="threeplus2">3+</label>
          </div>
          <div class="selection">
            <input id="fourplus2" name="beds" type="radio">
            <label for="fourplus2">4+</label>
          </div>
          <div class="selection">
            <input id="fiveplus2" name="beds" type="radio">
            <label for="fiveplus2">5+</label>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Bathrooms</h6>
        <div class="d-flex">
          <div class="selection">
            <input id="bathany2" name="bath" type="radio" checked>
            <label for="bathany2">any</label>
          </div>
          <div class="selection">
            <input id="bathoneplus2" name="bath" type="radio">
            <label for="bathoneplus2">1+</label>
          </div>
          <div class="selection">
            <input id="bathtwoplus2" name="bath" type="radio">
            <label for="bathtwoplus2">2+</label>
          </div>
          <div class="selection">
            <input id="baththreeplus2" name="bath" type="radio">
            <label for="baththreeplus2">3+</label>
          </div>
          <div class="selection">
            <input id="bathfourplus2" name="bath" type="radio">
            <label for="bathfourplus2">4+</label>
          </div>
          <div class="selection">
            <input id="bathfiveplus2" name="bath" type="radio">
            <label for="bathfiveplus2">5+</label>
          </div>
        </div>
      </div>
      <div class="widget-wrapper advance-feature-modal">
        <h6 class="list-title">Location</h6>
        <div class="form-style2 input-group">
          <select class="selectpicker" data-width="100%">
            <option>All Cities</option>
            <option data-tokens="California">California</option>
            <option data-tokens="Chicago">Chicago</option>
            <option data-tokens="LosAngeles">Los Angeles</option>
            <option data-tokens="Manhattan">Manhattan</option>
            <option data-tokens="NewJersey">New Jersey</option>
            <option data-tokens="NewYork">New York</option>
            <option data-tokens="SanDiego">San Diego</option>
            <option data-tokens="SanFrancisco">San Francisco</option>
            <option data-tokens="Texas">Texas</option>
          </select>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Square Feet</h6>
        <div class="space-area">
          <div class="d-flex align-items-center justify-content-between">
            <div class="form-style1">
              <input type="text" class="form-control" placeholder="Min.">
            </div>
            <span class="dark-color">-</span>
            <div class="form-style1">
              <input type="text" class="form-control" placeholder="Max">
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <h6 class="list-title">Year Built</h6>
        <div class="space-area">
          <div class="d-flex align-items-center justify-content-between">
            <div class="form-style1">
              <input type="text" class="form-control" placeholder="2019">
            </div>
            <span class="dark-color">-</span>
            <div class="form-style1">
              <input type="text" class="form-control" placeholder="2022">
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper">
        <div class="feature-accordion">
          <div class="accordion" id="accordionExample2">
            <div class="accordion-item border-none">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button border-none p-0 after-none feature-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><span class="flaticon-settings"></span> Other Features</button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                <div class="accordion-body p-0 mt15">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="checkbox-style1">
                        <label class="custom_checkbox">Attic
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Basketball court
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Air Conditioning
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Lawn
                          <input type="checkbox" checked="checked">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">TV Cable
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Dryer
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="checkbox-style1">
                        <label class="custom_checkbox">Outdoor Shower
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Washer
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Lake view
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Wine cellar
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Front yard
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                        <label class="custom_checkbox">Refrigerator
                          <input type="checkbox">
                          <span class="checkmark"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-wrapper mb20">
        <div class="btn-area d-grid align-items-center">
          <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Search</button>
        </div>
      </div>
      <div class="reset-area d-flex align-items-center justify-content-between">
        <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
        <a class="reset-button" href="#"><span class="flaticon-favourite"></span><u>Save Search</u></a>
      </div>
    </div>
  </div>
  <!--End Filter Content In Hiddn SideBar -->



  <div class="advance-feature-modal">
    <input type="hidden" namex="division" value="<%= JSON.stringify(division) %>">

    <!-- Modal -->
    <form method="GET" action="/listings/filter" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header pl30 pr30">
            <h5 class="modal-title" id="exampleModalLabel">More Filter</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper">
                  <h6 class="list-title">Price Range</h6>
                  <!-- Range Slider Desktop Version -->
                  <div class="range-slider-style large-version">
                    <div class="range-wrapper">
                      <div class="slider-range mb30 mt35"></div>
                      <div class="text-center">
                        <input type="number" class="amount" value="0" name="min" placeholder="&#x20A6;70000"><span class="fa-sharp fa-solid fa-minus mx-2 dark-color"></span>
                        <input type="number" class="amount2" value="100000" name="max" placeholder="&#x20A6;150000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Type</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" name="proptype" data-live-search="true" data-width="100%">
                      <option>Property</option>
                      <%propSelection.forEach(property=>{%>
                          <option data-tokens="<%= property %>"><%= property %></option>
                      <%})%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Property ID</h6>
                  <div class="form-style2">
                    <input type="text" name="_id" class="form-control" placeholder="RT04949213FYBF379">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bedrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="xany" name="bedrooms" value="0" type="radio" checked>
                      <label for="xany">any</label>
                    </div>
                    <div class="selection">
                      <input id="xoneplus" name="bedrooms" value="1" type="radio">
                      <label for="xoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="xtwoplus" name="bedrooms" value="2" type="radio">
                      <label for="xtwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="xthreeplus" name="bedrooms" value="3" type="radio">
                      <label for="xthreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="xfourplus" name="bedrooms" value="4" type="radio">
                      <label for="xfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="xfiveplus" name="bedrooms" value="5" type="radio">
                      <label for="xfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Bathrooms</h6>
                  <div class="d-flex">
                    <div class="selection">
                      <input id="yany" name="bathrooms" value="0" type="radio" checked>
                      <label for="yany">any</label>
                    </div>
                    <div class="selection">
                      <input id="yoneplus" name="bathrooms" value="1" type="radio">
                      <label for="yoneplus">1+</label>
                    </div>
                    <div class="selection">
                      <input id="ytwoplus" name="bathrooms" value="2" type="radio">
                      <label for="ytwoplus">2+</label>
                    </div>
                    <div class="selection">
                      <input id="ythreeplus" name="bathrooms" value="3" type="radio">
                      <label for="ythreeplus">3+</label>
                    </div>
                    <div class="selection">
                      <input id="yfourplus" name="bathrooms" value="4" type="radio">
                      <label for="yfourplus">4+</label>
                    </div>
                    <div class="selection">
                      <input id="yfiveplus" name="bathrooms" value="5" type="radio">
                      <label for="yfiveplus">5+</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">Local Governments</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" name="localgovs" data-live-search="true" data-width="100%">
                      <option value="">All Local Governments</option>
                
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget-wrapper">
                  <h6 class="list-title">CITY</h6>
                  <div class="form-style2 input-group">
                    <select class="selectpicker" name="area" data-live-search="true" data-width="100%">
                      <option value=""> All Cities</option>
                
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="widget-wrapper mb0">
                  <h6 class="list-title mb10">Amenities</h6>
                </div>
              </div>
              <div>
                <div class="widget-wrapper mb20">
                  <div class="checkbox-style1 row">
                    <% amenities.forEach(amenity=>{%>
                      <label class="custom_checkbox col-sm-6"> <%= amenity.name %>
                        <input type="checkbox" name="amenities" value="<%= amenity.value %>">
                        <span class="checkmark"></span>
                      </label>
                  <%})%>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <a class="reset-button" href="#"><span class="flaticon-turn-back"></span><u>Reset all filters</u></a>
            <div class="btn-area">
              <button class="ud-btn btn-thm"><span class="flaticon-search align-text-top pr10"></span>Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="hiddenbar-body-ovelay"></div>