<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from creativelayers.net/themes/homez-html/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:11 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">
 
<title> Sign into your dashboard</title>
    <!--  headlinks -->
    <%- include("./partials/headLinks.ejs") -%>
    <!-- ### headLinks end -->
    <%if(messages.error){%>
      <style>
        .message-alart-style1 {
    width: 100%;
    max-width: 500px;
    translate: -50%;
    left: 50%;
    top: 15px;
}
</style>
<%}%>

</head>
<body class="bgc-f7">
  <div class="wrapper ovh">
    <div class="preloader"></div>
    <div class="body_content position-relative">
      
      <%if(messages.error){%>
        <div class="message-alart-style1">
          <div class="alert alart_style_one alert-dismissible fade show mb20" role="alert">Auth Error: <%= messages.error %>
            <i class="far fa-xmark btn-close" data-bs-dismiss="alert" aria-label="Close"></i>
          </div>
        </div>
      <%}%>
    <!-- Our Compare Area -->
    
    <section class="our-compare pt0 pb60">
      <img src="/x-x/images/icon/login-page-icon.svg" alt="" class="login-bg-icon wow fadeInLeft" data-wow-delay="300ms">
      <div class="container">
        <div class="row wow fadeInRight" data-wow-delay="300ms">
          <div class="col-lg-6">
            <div class="navtab-style1 mb-4 mb-lg-5 mt50">
                <nav>
                  <div class="nav nav-tabs mb20" id="nav-tab2" role="tablist">
                    <button class="nav-link <%= login ?  ' active ' : ' ' %> fw600" id="nav-item1-tab" data-bs-toggle="tab" data-bs-target="#nav-item1" type="button" role="tab" aria-controls="nav-item1" aria-selected="true">Sign in</button>
                    <button class="nav-link <%= login ? ' ' : ' active ' %> fw600" id="nav-item2-tab" data-bs-toggle="tab" data-bs-target="#nav-item2" type="button" role="tab" aria-controls="nav-item2" aria-selected="false">Register</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <form method="POST" action="/auth/login" class="tab-pane fade <%= login ? ' show active ' : ''  %> fz15" id="nav-item1" role="tabpanel" aria-labelledby="nav-item1-tab">
                      <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">
                        <div class="text-center mb40">
                          <img class="mb25" src="/x-x/images/header-logo2.svg" alt="">
                          <h2>Sign in</h2>
                          <p class="text">Sign into your dashboard</p>
                        </div>
                        <div class="mb25">
                          <label class="form-label fw600 dark-color">Email</label>
                          <input required type="email" name="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="mb15">
                          <label class="form-label fw600 dark-color">Password</label>
                          <input required type="password" name="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="checkbox-style1 d-block d-sm-flex align-items-center justify-content-between mb10">
                          <label class="custom_checkbox fz14 ff-heading">Remember me
                            <input required type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          <a class="fz14 ff-heading" href="#">Lost your password?</a>
                        </div>
                        <div class="d-grid mb20">
                          <button class="ud-btn btn-thm" type="submit">Sign in <i class="fal fa-arrow-right-long"></i></button>
                        </div>
                      </div>
                    </form>
                  <form action="/auth/register" method="POST" class="tab-pane fade <%= login ? '' : ' show active '   %> fz15" id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">
                    <div class="log-reg-form signup-modal form-style1 bgc-white p50 p30-sm default-box-shadow2 bdrs12">
                        <div class="text-center mb40">
                          <img class="mb25" src="/x-x/images/header-logo2.svg" alt="">
                          <h2>Register</h2>
                          <p class="text">Create an account</p>
                        </div>
                        <div class="mb25">
                            <label class="form-label fw600 dark-color">Fullname</label>
                            <input required type="text" name="name" class="form-control" placeholder="Enter Your Fullname">
                          </div>
                        <div class="mb25">
                          <label class="form-label fw600 dark-color">Email</label>
                          <input required type="email" name="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="mb15">
                          <label class="form-label fw600 dark-color">Password</label>
                          <input required type="password" name="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="d-grid mb20">
                          <button class="ud-btn btn-thm" type="subnit">Register <i class="fal fa-arrow-right-long"></i></button>
                        </div>
                        <!-- <div class="hr_content mb20"><hr><span class="hr_top_text">OR</span></div>
                        <div class="d-grid mb10">
                          <button class="ud-btn btn-white fw400" type="button"><i class="fab fa-google"></i> Continue Google</button>
                        </div>
                        <div class="d-grid mb10">
                          <button class="ud-btn btn-fb fw400" type="button"><i class="fab fa-facebook-f"></i> Continue Facebook</button>
                        </div>
                        <div class="d-grid mb20">
                          <button class="ud-btn btn-apple fw400" type="button"><i class="fab fa-apple"></i> Continue Apple</button>
                        </div> -->
                      </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
    <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
  </div>
</div>
 
<!-- script links -->
<%- include("./partials/scriptLinks") -%>
<!-- script links end :  -->
</body>

<!-- Mirrored from creativelayers.net/themes/homez-html/page-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:11 GMT -->
</html>