<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- Mirrored from creativelayers.net/themes/homez-html/page-property-single-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:00 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="/x-x/css/magnific-popup.css">

    <!-- Title -->
    <title> Details </title>

    <%- include("./partials/headLinks.ejs") -%>
</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>
  
 <!-- all header codes -->
 <%- include("./partials/headerNpreloader.ejs", {mobileOnly : false}) -%>
 <!-- header ends here -->

  <div class="body_content">
    <!-- Property All Lists -->
    <section class="pt60 pb60 bgc-white">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-lg-12">
            <div class="ps-v4-hero-tab position-relative">
              <ul class="nav nav-pills justify-content-end" id="pills-tab2" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active mr10" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><span class="flaticon-images text-white fz20"></span></button>
                </li>
                <!-- <li class="nav-item" role="presentation">
                  <button class="nav-link mr10" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><span class="flaticon-map text-white fz20"></span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><span class="flaticon-maps-1 text-white fz20"></span></button>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="ps-v4-hero-tab">
        <div class="tab-content overflow-visible" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="container">
              <div class="row wow fadeInUp" data-wow-delay="300ms">
                <div class="col-lg-12">
                  <div class="ps-v4-hero-slider dots_none slider-dib-sm slider-1-grid vam_nav_style owl-theme owl-carousel">
                    <% property.carousel.filter(i=> i.show).forEach(image=>{ %>
                      <div class="item">
                        <img class="bdrs12" src="<%= image.url %>" alt="">
                      </div>
                    <%})%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <iframe class="position-relative h600" loading="lazy" src="https://maps.google.com/maps?q=London%20Eye%2C%20London%2C%20United%20Kingdom&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="London Eye, London, United Kingdom" aria-label="London Eye, London, United Kingdom"></iframe>
          </div>
          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <iframe class="h600 w-100" src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469" allowfullscreen=""></iframe>
          </div> -->
        </div>
      </div>
    </section>
    <!-- Property All Lists -->
    <section class="pt0 pb90 bgc-white">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="100ms">
          <div class="col-md-8">
            <div class="single-property-content mb30-md">
              <h2 class="sp-lg-title text-capitalize"><%= `${property.proptype == 'Apartments' ? property.rooms + " Bedroom Apartment" : property.proptype} ` %></h2>
              <div class="pd-meta mb15 d-md-flex align-items-center">
                <p class="text fz15 mb-0 pr10 bdrrn-sm"> <%= property.area + ", " + property.localgovs %></p>
              </div>
              <div class="property-meta d-flex align-items-center">
                <a class="ff-heading text-thm fz15 bdrr1 pr10 bdrrn-sm" data-bs-toggle="tooltip" data-bs-title="<%= property.distance %>KM away from school"><i class="fas fa-circle fz10 pe-2"></i> <%= property.distance %> Km</a>
                <% if(user && user.admin){%>
                    <a class="ff-heading fz15 pr10 ml10 bdrr1 ml0-sm bdrrn-sm" href="#"><i class="far fa-clock pe-2"></i> <%= property.createdAt.toString().slice(4,10) %> </a>
                    <a class="ff-heading fz15 pr10 ml10 bdrr1 ml0-sm bdrrn-sm" href="<%= user.admin ? '/dashboard/profile/'+property.postedBy.id : '#'%> "><i class="far fa-user pe-2text-capitalize"></i> <%= property.postedBy.name %> </a>
                  <%}%>
                  <a class="ff-heading fz15 pr10 ml10 bdrr1 ml0-sm bdrrn-sm" href="#" onclick="copyText()"> <%= property._id %> </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="single-property-content">
              <div class="property-action text-lg-end">
                <div class="d-flex mb20 mb10-md align-items-center justify-content-lg-end">
                  <a class="icon mr10" href="#"><span class="flaticon-like"></span></a>
                  <!-- <a class="icon mr10" href="#"><span class="flaticon-new-tab"></span></a>
                  <a class="icon mr10" href="#"><span class="flaticon-share-1"></span></a>
                  <a class="icon" href="#"><span class="flaticon-printer"></span></a> -->
                </div>
                <h3 class="price mb-0">&#x20A6;<%= property.cost.toLocaleString() %></h3>
                <p class="text space fz15"> 
                  <% if(user && user.agent){%>
                    <% if(!property.approved || property.edited){%>
                      <span class="pending-style style1">Processing</span>
                      <%}else{%>
                        <span class="pending-style style2 text"> Approved</span>
                      <%}%>
                  <%}%>
                </p>
                <% if(user && user.admin){%>
                  <div class="d-flex justify-content-end mt10">
                    <form class="text space fz15 <%= property.approved ? 'mr10' : '' %>" method="POST" action="/admin/delete/prop/<%= property._id %>">
                      <button class="ud-btn btn-thm" value="<%= property._id %>" type="submit">Delete</i></button>
                    </form>
                    <% if(!property.approved){ %>
                      <form class="text space fz15" method="POST" action="/admin/approve/prop/<%= property._id %>">
                        <button class="ud-btn btn-fb" value="<%= property._id %>" type="submit">Approve</i></button>
                      </form>
                    <%}%>
                  </div>
                    <%}%>
              </div>
            </div>
          </div>
        </div>
        <div class="row wrap mt50 wow fadeInUp" data-wow-delay="500ms">
          <div class="col-lg-8">
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Overview</h4>
              <div class="row">
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-bed"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Bedroom</h6>
                      <p class="text mb-0 fz15"><%= property.rooms %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-shower"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Bath</h6>
                      <p class="text mb-0 fz15"><%= property.bathrooms %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25 d-flex align-items-center">
                    <span class="icon flaticon-event"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Parlour</h6>
                      <p class="text mb-0 fz15"><%= property.parlour %> </p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25-xs d-flex align-items-center">
                    <span class="icon flaticon-garage"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Kitchen</h6>
                      <p class="text mb-0 fz15"><%= property.kitchen  %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element mb25-xs d-flex align-items-center">
                    <span class="icon fa-toilet"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Toilets</h6>
                      <p class="text mb-0 fz15"><%= property.toilets %></p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                  <div class="overview-element d-flex align-items-center">
                    <span class="icon flaticon-home-1"></span>
                    <div class="ml15">
                      <h6 class="mb-0">Property Type</h6>
                      <p class="text mb-0 fz15"> <%= property.proptype %></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Property Description</h4>
              <p class="text mb10"><%= property.description %></p>
              <div class="agent-single-accordion">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="">
                      <div class="accordion-body p-0"><p class="text">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body you get groundbreaking performance and amazing battery life. Add to that a stunning Liquid Retina XDR display, the best camera and audio ever in a Mac notebook, and all the ports you need.</p></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">Features & Amenities</h4>
              <div class="row">
                <% property.amenities.forEach(amenity=>{%>
                    <div class="col-sm-6 col-md-4 mb10-sm">
                      <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i><%= amenity %></p>
                    </div>
                <%})%>
              </div>
            </div>
            
            <% if(user &&  user.agent){%>
              <h3 class="title mb30 mt30 text-uppercase">Information</h3>
              
              <div class="ps-widget mb30 overflow-hidden position-relative">
                <div class="d-flex">
                  <p class="pe-2 fw-bold"> Name : </p>
                  <p> <%= property.title %></p>
                </div>
                <h4 class="title fz17 mb30 mt30">Address</h4>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="d-flex justify-content-between">
                      <div class="pd-list">
                        <p class="fw600 mb10 ff-heading dark-color">Local Gov</p>
                        <p class="fw600 mb-0 ff-heading dark-color">Area</p>
                      </div>
                      <div class="pd-list">
                        <p class="text mb10"><%= property.localgovs %></p>
                        <p class="text mb10"><%= property.area %></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7 mb30">
                    <div class="d-flex justify-content-between">
                      <div class="pd-list"> Location</div>
                      <p class="text mb10"><%= property.address %></p>
                    </div>
                  </div>
                </div>
              </div>
              
              <table class="table table-striped mt20 mb30">
                <h3 class="title mb30 mt30 text-uppercase">Contacts</h3>
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact</th>
                  </tr>
                </thead>
                <tbody>
              <% property.contacts.forEach(contact=>{%>
                    <tr>
                      <td> <%= contact.whois %></td>
                      <td> <%= contact.name %></td>
                      <td> <%= contact.reach %></td>
                    </tr>
                    <%})%>
                  </tbody>
                </table>

        <% if(property.youtube){%>
              <div class="ps-widget mb30 overflow-hidden position-relative">
                <h4 class="title fz17 mb30">Video</h4>
                <div class="row">
                  <div class="col-md-12">
                    <iframe width="560" height="315" src="<%= property.youtube %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            <%}%>   

            <%}%>


            <div class="ps-widget mb30 overflow-hidden position-relative">
              <h4 class="title fz17 mb30">What's Nearby?</h4>
              <div class="row">
                <div class="col-md-12">
                    <iframe class="position-relative bdrs12 mt30 h250" src="https://maps.google.com/maps?q=6.245,7.090&z=15&output=embed" frameborder="0" style="border:0"></iframe>
                </div>
              </div>
            </div>
        </div>
          <div class="col-lg-4">
            <div class="column">
             <div class="agen-personal-info position-relative bgc-white shadow default-box-shadow1 bdrs12 p30 mt30">
                <div class="widget-wrapper mb-0">
                  <h6 class="title fz17 mb30">How to mark a property you are interested in.</h6>
                  <div class="mb20">
                    <p class="text mb10" onclick="copyText()"><i class="fas fa-circle fz6 align-middle pe-2"></i>Copy the ID - <span class="idCopy"> <%=property._id %></span></p>
                    <script>
                      function copyText() {
                        var text = document.getElementsByClassName("idCopy")[0].innerText;
                        navigator.clipboard.writeText(text);
                        alert("Copied")
                      }
                    </script>
                  </div>
                  <h6 class="title fz17 mb30">Contact us for </h6>
                  <div class="mb20">
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Booking of this property</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>Inspection of property</p>
                    <p class="text mb10"><i class="fas fa-circle fz6 align-middle pe-2"></i>More information </p>
                  </div>

                  <% site.contacts.forEach(contact=>{%>
                    <div class="agent-single d-sm-flex align-items-center pb25">
                      <div class="single-img mb30-sm">
                        <img class="w90" src="/x-x/images/team/agent-3.png" alt="">
                      </div>
                      <div class="single-contant ml20 ml0-xs">
                        <h6 class="title mb-1"> <%= contact.name %></h6>
                        <div class="agent-meta mb10 d-md-flex align-items-center">
                          <a class="text fz15" href="tel:<%= contact.number %>"><i class="flaticon-call pe-1"></i> <%= contact.number %></a>
                        </div>
                      </div>
                    </div>
                    <div class="d-grid mb20">
                      <button class="ud-btn btn-white2 flex space-between"> <i class="fa-brands fa-whatsapp"style="transform : rotate(5deg);"></i> Contact Agent</button>
                    </div>
                    <%})%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt30 wow fadeInUp" data-wow-delay="700ms">
          <div class="col-lg-9">
            <div class="main-title2">
              <h2 class="title">Nearby Similar Homes</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="900ms">
          <div class="col-lg-12">
            <div class="property-city-slider navi_pagi_top_right slider-dib-sm slider-3-grid owl-theme owl-carousel">
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                    <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                    <div class="list-price">&#x20A6;14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-2.jpg" alt="">
                    <div class="list-price">$82,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-3.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-4.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Triple Story House for Rent</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-5.jpg" alt="">
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Northwest Office Space</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-6.jpg" alt="">
                    <div class="list-price">$82,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">House on the beverly hills</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                    <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- # footer & scroll up # -->
    <%- include("./partials/footer.ejs") -%>
    <!-- footer end - -->
  
  </div>
</div>

<!-- Wrapper End --> 
<script src="/x-x/js/jquery-3.6.4.min.js"></script> 
<script src="/x-x/js/jquery-migrate-3.0.0.min.js"></script> 
<script src="/x-x/js/popper.min.js"></script> 
<script src="/x-x/js/bootstrap.min.js"></script> 
<script src="/x-x/js/bootstrap-select.min.js"></script> 
<script src="/x-x/js/jquery.mmenu.all.js"></script> 
<script src="/x-x/js/ace-responsive-menu.js"></script>
<script src="/x-x/js/chart.min.js"></script>
<script src="/x-x/js/chart-custome.js"></script>
<script src="/x-x/js/jquery-scrolltofixed-min.js"></script>
<script src="/x-x/js/wow.min.js"></script> 
<script src="/x-x/js/owl.js"></script> 
<script src="/x-x/js/isotop.js"></script>
<script src="/x-x/js/scrollbalance.js"></script>
<!-- Custom script for all pages --> 
<script src="/x-x/js/script.js"></script>
<script>

const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
//  Fixed sidebar Custom Script For That 
$(function() {
  var cols = $('.wrap .column');
  var enabled = true;
  var scrollbalance = new ScrollBalance(cols, {
    minwidth: 0
  });
  // bind to scroll and resize events
  scrollbalance.bind();
});
</script>
</body>

<!-- Mirrored from creativelayers.net/themes/homez-html/page-property-single-v4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 May 2023 13:12:01 GMT -->
</html>