<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="aLagos state housing, lagos state properties, Best properties in lagos,  listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Discover your dream properties in Lagos with Rolly Properties – Your trusted real estate web app for houses, shops, and lands. Explore listings, find your perfect space, and make Lagos your home.">
<meta name="author" content="Chukwuebuka Stanley Azuka" >
<%- include("./partials/headLinks.ejs") -%>
<!-- Title -->
<title>Home </title>

</head>
<body>
<div class="wrapper ovh">
  <div class="preloader"></div>
  
  <!-- Main Header Nav -->
  <header class="header-nav nav-homepage-style stricky main-menu">
    <!-- Ace Responsive Menu -->
    <nav class="posr"> 
      <div class="container posr menu_bdrt1">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <div class="d-flex align-items-center justify-content-between">
              <div class="logos mr40">
                <a class="header-logo logo1" href="/"><img src="/x-x/images/header-logo.png" alt="Header Logo"></a>
                <a class="header-logo logo2" href="/"><img src="/x-x/images/header-logo2.png" alt="Header Logo"></a>
              </div>
              <!-- Responsive Menu Structure-->
              <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
                <li> <a class="list-item" href="/"><span class="title">Home</span></a> </li>
                  <li class="visible_list"> <a class="list-item" href="#"><span class="title">Listing</span></a>
                    <ul>
                      <% listingTypes.forEach(list=>{%>
                        <li><a href="/<%= list.code %>"> <%= list.label %></a></li>
                      <%})%>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="d-flex align-items-center">
              <!-- <a class="login-info d-flex align-items-center" ><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a> -->
              <% if(!user){%>
                <!-- <a class="login-info d-flex align-items-center" data-bs-toggle="modal" href="/auth/login"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a> -->
                <a class="login-info d-flex align-items-center"  href="/auth/login"><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a>
              <%}%>
              <!-- <a class="login-info d-flex align-items-center" ><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Login / Register</span></a> -->
              <% if(user?.agent){%>
                <a class="login-info d-flex align-items-center" href="/dashboard" ><i class="far fa-user-circle fz16 me-2"></i> <span class="d-none d-xl-block">Dashboard</span></a>
                <a class="ud-btn add-property menu-btn bdrs60 mx-2 mx-xl-4" href="/dashboard/newproperty">Add Property<i class="fal fa-arrow-right-long"></i></a>
                <%}%>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
 
  
  <!-- For some reason if this #slider element is not present - it throws up javascript error and messes up the Nav ELement UI -->
   <!-- Range Slider Mobile Version desided to leave it as a hidden element -->
   <div class="range-slider-style modal-version d-none">
    <div class="range-wrapper">
      <div class="mb30 mt35" id="slider"></div>
      <div class="d-flex align-items-center">
        <span id="slider-range-value1"></span><i class="fa-sharp fa-solid fa-minus mx-2 dark-color icon"></i>
        <span id="slider-range-value2"></span>
      </div>
    </div>
  </div>
  <!-- Range SliderEnd -->

  <div class="hiddenbar-body-ovelay"></div>

  <!-- Mobile Nav  -->
  <%- include("./partials/headerNpreloader.ejs", {mobileOnly : true}) -%>

  <div class="body_content_wrapper">
    <!-- Home Banner Style V1 -->
    <section class="home-banner-style1 p0">
      <div class="home-style1">
        <div class="container">
          <div class="row">
            <div class="col-xl-11 mx-auto">
              <div class="inner-banner-style1 text-center">
                <h2 class="hero-title animate-up-2">Unlock the Gateway to Lagos! Find Your Dream Home Today.</h2>
                <p class="hero-text fz15 animate-up-3">We’ve more than 745,000 apartments, place & plot.</p>
              </div>

              <div class="mt40 text-center">
                <a href="/listings" class="ud-btn btn-thm mb25"> View Listings<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </div>
        <a href="#explore-property">
          <div class="mouse_scroll animate-up-4">
            <img src="/x-x/images/about/home-scroll.png" alt="">
          </div>
        </a>
      </div>
    </section>
    <!-- Discription about the business -->
    <section class="pb90 pb30-md">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="title">About</h2>
              <!-- <p class="paragraph">Get some Inspirations from 1800+ skills</p> -->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="paragraph">
              At Rolly Properties, we're not just a real estate web application; we're your gateway to unlocking the extraordinary world of Lagos' property market. Established with a passion for connecting people with their dream homes, ideal commercial spaces, and lucrative investment opportunities, Rolly Properties is your trusted partner in navigating the dynamic real estate landscape of Lagos.
            </p>
          </div>
          <h4 class="title mt-2">
            What Sets us apart ?
          </h4>
            <p class="paragraph my-2">At Rolly Properties, our commitment to excellence is what truly distinguishes us:</p>
            <div>
              <p> <span class="fw-bold">Comprehensive Coverage:</span> We are your one-stop platform for all things real estate in Lagos. Whether you're searching for a cozy home, a bustling commercial space, or a piece of land to call your own, we've got you covered.</p>
              <p> <span class="fw-bold">A User-Centric Experience:</span> Our web application is designed with you in mind. It offers an intuitive and user-friendly interface that caters to both newcomers to real estate and seasoned investors.</p>
              <p> <span class="fw-bold">Curated Selection:</span> We understand that your property is more than just a transaction; it's a significant part of your life. That's why we curate only the finest listings, ensuring that every property meets the highest standards of quality and value.</p>
              <p> <span class="fw-bold">In-Depth Information: </span>We believe in the power of information. Each listing on our platform comes with detailed descriptions, high-resolution images, floor plans, pricing, and essential property specifications, so you can make informed decisions with confidence.</p>
              <p> <span class="fw-bold"> Smart Search Tools: </span>Tailor your property search to your exact preferences with our advanced filtering options. Customize your search by location, property type, price range, and more, helping you find the perfect property with ease.</p>
              <p> <span class="fw-bold">  Interactive Exploration: </span> Dive into Lagos' vibrant neighborhoods and their unique offerings with our interactive maps. Discover local amenities, services, and proximity to landmarks.</p>

            </div>
        </div>

      </div>
    </section>
    <!-- Explore Apartment -->
    <!-- <section id="explore-property" class="pb90 pb30-md">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="main-title wow fadeInUp" data-wow-delay="300ms">
              <h2 class="title">Explore Different Properties</h2>
              <p class="paragraph">Get some Inspirations from 1800+ skills</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="explore-apartment-slider navi_pagi_top_right slider-5-grid owl-carousel owl-theme wow fadeInUp" data-wow-delay="300ms">
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-home"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Houses</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-corporation"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Apartments</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-network"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Office</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-garden"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Villa</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-chat"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Townhome</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-window"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Bungalow</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-bird-house"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Loft</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-garden"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Villa</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-chat"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Townhome</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-window"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Bungalow</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="item">
                <a href="page-property-single-v1.html">
                  <div class="iconbox-style1">
                    <span class="icon flaticon-bird-house"></span>
                    <div class="iconbox-content">
                      <h6 class="title">Loft</h6>
                      <p class="text mb-0">22 Properties</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Explore Apartment -->
    <section class="pt0 pb90 pb10-md" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="300ms">
            <div class="main-title text-center">
              <h2 class="title">See how Gidi Prime Properties can help</h2>
              <p class="paragraph"> The IDAN of everything real estate in lagos.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 wow fadeInRight" data-wow-delay="300ms">
            <div class="iconbox-style2 text-center">
              <div class="icon"><img src="/x-x/images/icon/property-rent.svg" alt=""></div>
              <div class="iconbox-content">
                <h4 class="title">Rent a property</h4>
                <p class="text">Discover a Diverse Selection of Properties available for rent from Our Extensive Listings.</p>
                <a href="/listings" class="ud-btn btn-white2">Find a rental<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay="00ms">
            <div class="iconbox-style2 text-center">
              <div class="icon"><img src="/x-x/images/icon/property-buy.svg" alt=""></div>
              <div class="iconbox-content">
                <h4 class="title">Buy a property</h4>
                <p class="text">Secure Your Ownership Today: Explore a Range of Properties Available for Direct Purchase.</p>
                <a href="/listings" class="ud-btn btn-white2">Find a home<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeInUp" data-wow-delay="300ms">
            <div class="iconbox-style2 active text-center">
              <div class="icon"><img src="/x-x/images/icon/property-sell.svg" alt=""></div>
              <div class="iconbox-content">
                <h4 class="title">Sell a property</h4>
                <p class="text">Unlock the Best Value for Your Property Sale with Our Expert Assistance.</p>
                <a href="/contact" class="ud-btn btn-white2">Place an ad<i class="fal fa-arrow-right-long"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Explore Apartment -->
    <!-- <section class="bgc-f7">
      <div class="container">
        <div class="row align-items-center wow fadeInUp" data-wow-delay="00ms">
          <div class="col-lg-9">
            <div class="main-title2">
              <h2 class="title">Discover Our Featured Listings</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-start text-lg-end mb-3">
              <a class="ud-btn2" href="#">See All Properties<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
            <div class="feature-listing-slider navi_pagi_bottom_center slider-dib-sm slider-3-grid owl-carousel owl-theme">
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                    <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-2.jpg" alt="">
                    <div class="list-price">$82,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-3.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-4.jpg" alt="">
                    <div class="list-price">$63,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Triple Story House for Rent</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="listing-style1">
                  <div class="list-thumb">
                    <img class="w-100" src="/x-x/images/listings/g1-5.jpg" alt="">
                    <div class="list-price">$14,000 / <span>mo</span></div>
                  </div>
                  <div class="list-content">
                    <h6 class="list-title"><a href="page-property-single-v1.html">Northwest Office Space</a></h6>
                    <p class="list-text">California City, CA, USA</p>
                    <div class="list-meta d-flex align-items-center">
                      <a href="#"><span class="flaticon-bed"></span>3 bed</a>
                      <a href="#"><span class="flaticon-shower"></span>4 bath</a>
                      <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                    </div>
                    <hr class="mt-2 mb-2">
                    <div class="list-meta2 d-flex justify-content-between align-items-center">
                      <span class="for-what">For Rent</span>
                      <div class="icons d-flex align-items-center">
                        <a href="#"><span class="flaticon-fullscreen"></span></a>
                        <a href="#"><span class="flaticon-new-tab"></span></a>
                        <a href="#"><span class="flaticon-like"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Property Cities -->
    <!-- <section class="pb40-md pb90">
      <div class="container">
        <div class="row align-items-center wow fadeInUp" data-wow-delay="300ms">
          <div class="col-lg-9">
            <div class="main-title2">
              <h2 class="title">Properties by Cities</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-start text-lg-end mb-3">
              <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
            <div class="property-city-slider dots_none slider-dib-sm slider-4-grid2 vam_nav_style owl-theme owl-carousel">
              <div class="item">
                <div class="feature-style1 mb30">
                  <div class="feature-img"><img class="w-100" src="/x-x/images/listings/city-listing-1.png" alt=""></div>
                  <div class="feature-content">
                    <div class="top-area">
                      <h6 class="title mb-1">Los Angeles</h6>
                      <p class="text">12 Properties</p>
                    </div>
                    <div class="bottom-area">
                      <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-style1 mb30">
                  <div class="feature-img"><img class="w-100" src="/x-x/images/listings/city-listing-2.png" alt=""></div>
                  <div class="feature-content">
                    <div class="top-area">
                      <h6 class="title mb-1">Miami</h6>
                      <p class="text">12 Properties</p>
                    </div>
                    <div class="bottom-area">
                      <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-style1 mb30">
                  <div class="feature-img"><img class="w-100" src="/x-x/images/listings/city-listing-3.png" alt=""></div>
                  <div class="feature-content">
                    <div class="top-area">
                      <h6 class="title mb-1">New York</h6>
                      <p class="text">12 Properties</p>
                    </div>
                    <div class="bottom-area">
                      <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="feature-style1 mb30">
                  <div class="feature-img"><img class="w-100" src="/x-x/images/listings/city-listing-4.png" alt=""></div>
                  <div class="feature-content">
                    <div class="top-area">
                      <h6 class="title mb-1">Chicago</h6>
                      <p class="text">12 Properties</p>
                    </div>
                    <div class="bottom-area">
                      <a class="ud-btn2" href="page-property-single-v1.html">See All Cities<i class="fal fa-arrow-right-long"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- About Us -->
    <section class="pt0 pb40-md">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-4">
            <div class="about-box-1 pe-4 mt100 mt0-lg mb30-lg wow fadeInRight" data-wow-delay="300ms">
              <h2 class="title mb30">Why Choose Us?</h2>
              <p class="text mb25 fz15">Our platform boasts an extensive database of properties in Lagos, ensuring you have access to the latest and most comprehensive listings in the city.</p>
              <div class="list-style1 mb50">
                <ul>
                  <!-- <li><i class="far fa-check text-white bgc-dark fz15"></i>Extensive Listings</li> -->
                  <li><i class="far fa-check text-white bgc-dark fz15"></i>User-Friendly Interface</li>
                  <li><i class="far fa-check text-white bgc-dark fz15"></i>Advanced Search Filters</li>
                  <li><i class="far fa-check text-white bgc-dark fz15"></i>24-hours good customer service</li>
                </ul>
              </div>
              <a href="/about" class="ud-btn btn-white2">Learn More<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
          <div class="col-lg-9 col-xl-8 col-xxl-7 offset-xxl-1">
            <div class="position-relative mb35 mb0-sm wow fadeInLeft" data-wow-delay="300ms">
              <div class="img-box-1 list-inline-item me-0">
                <img class="img-1" src="/x-x/images/about/about-1.jpg" alt="">
              </div>
              <div class="img-box-2 list-inline-item me-0">
                <img class="img-1" src="/x-x/images/about/about-2.jpg" alt="">
              </div>
              <div class="img-box-3">
                <img class="img-1 bounce-y" src="/x-x/images/about/about-1.png" alt="">
              </div>
              <div class="img-box-4">
                <img class="img-1 spin-right" src="/x-x/images/about/element-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Popular Property -->
    <!-- <section class="bgc-dark">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="00ms">
          <div class="col-lg-9">
            <div class="main-title2">
              <h2 class="title text-white">Discover Popular Properties</h2>
              <p class="paragraph text-white">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="dark-light-navtab text-start text-lg-end mt-0 mt-lg-4 mb-4">
              <ul class="nav nav-pills justify-content-start justify-content-lg-end" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">For Rent</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link me-0" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">For Sale</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 wow fadeInUp" data-wow-delay="300ms">
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="dots_none nav_none slider-dib-sm slider-4-grid3 vam_nav_style owl-theme owl-carousel">
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                            <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                            <div class="list-price">$84,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-2.jpg" alt="">
                            <div class="list-price">$12,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-3.jpg" alt="">
                            <div class="list-price">$19,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-4.jpg" alt="">
                            <div class="list-price">$17,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="dots_none nav_none slider-dib-sm slider-4-grid3 vam_nav_style owl-theme owl-carousel">
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-1.jpg" alt="">
                            <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>FEATURED</div>
                            <div class="list-price">$84,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Equestrian Family Home</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-2.jpg" alt="">
                            <div class="list-price">$12,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Luxury villa in Rego Park</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-3.jpg" alt="">
                            <div class="list-price">$19,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div class="listing-style1">
                          <div class="list-thumb">
                            <img class="w-100" src="/x-x/images/listings/g1-4.jpg" alt="">
                            <div class="list-price">$17,000 / <span>mo</span></div>
                          </div>
                          <div class="list-content pb-2">
                            <h6 class="list-title"><a href="page-property-single-v1.html">Villa on Hollywood Boulevard</a></h6>
                            <p class="list-text">California City, CA, USA</p>
                            <div class="list-meta d-flex align-items-center">
                              <a class="me-2" href="#"><span class="flaticon-bed"></span>3 bed</a>
                              <a class="me-2" href="#"><span class="flaticon-shower"></span>4 bath</a>
                              <a class="me-2" href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                            </div>
                            <hr class="mt-2 mb-2">
                            <div class="list-meta2 d-flex justify-content-between align-items-center">
                              <span class="for-what">For Rent</span>
                              <div class="icons d-flex align-items-center">
                                <a href="#"><span class="flaticon-fullscreen"></span></a>
                                <a href="#"><span class="flaticon-new-tab"></span></a>
                                <a href="#"><span class="flaticon-like"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-grid d-md-block text-center mt30 mt0-md">
              <a href="page-grid-default-v1.html" class="ud-btn btn-thm">See All Properties<i class="fal fa-arrow-right-long"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Our Testimonials -->
    <!-- <section class="pb100 pb50-md bgc-thm-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-delay="00ms">
            <div class="main-title">
              <h2 class="title">People Love Living with Realton</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="testimonial-slider navi_pagi_top_right slider-3-grid owl-carousel owl-theme wow fadeInUp" data-wow-delay="300ms">
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="/x-x/images/testimonials/testimonial-1.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Leslie Alexander</h6>
                      <p class="mb-0">Nintendo</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="/x-x/images/testimonials/testimonial-2.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Floyd Miles</h6>
                      <p class="mb-0">Bank of America</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="/x-x/images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="/x-x/images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-style1 position-relative">
                  <div class="testimonial-content">
                    <h5 class="title">Great Work</h5>
                    <span class="icon fas fa-quote-left"></span>
                    <p class="text">“Amazing design, easy to customize and a design quality superlative account on its cloud platform for the optimized performance. And we didn’t on our original designs.”</p>
                    <div class="testimonial-review">
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a class="me-1" href="#"><i class="fas fa-star"></i></a>
                      <a href="#"><i class="fas fa-star"></i></a>
                    </div>
                  </div>
                  <div class="thumb d-flex align-items-center">
                    <div class="flex-shrink-0">
                      <img class="wa" src="/x-x/images/testimonials/testimonial-3.png" alt="">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h6 class="mb-0">Dianne Russell</h6>
                      <p class="mb-0">Facebook</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Explore Apartment -->
    <!-- <section class="pb90 pb20-md">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 m-auto wow fadeInUp" data-wow-delay="00ms">
            <div class="main-title text-start text-md-center">
              <h2 class="title">From Our Blog</h2>
              <p class="paragraph">Aliquam lacinia diam quis lacus euismod</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp" data-wow-delay="300ms">
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="/x-x/images/blog/blog-1.jpg" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="page-blog-single.html">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="/x-x/images/blog/blog-2.jpg" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="page-blog-single.html">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="blog-style1">
              <div class="blog-img"><img class="w-100" src="/x-x/images/blog/blog-3.jpg" alt=""></div>
              <div class="blog-content">
                <div class="date">
                  <span class="month">July</span>
                  <span class="day">28</span>
                </div>
                <a class="tag" href="#">Living Room</a>
                <h6 class="title mt-1"><a href="page-blog-single.html">Private Contemporary Home Balancing Openness</a></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Our Partners --> 
    <!-- <section class="our-partners pt0">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 wow fadeInUp">
            <div class="main-title text-center">
              <h6>Trusted by the world’s best</h6>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="dots_none nav_none slider-dib-sm slider-6-grid owl-carousel owl-theme wow fadeInUp" data-wow-delay="300ms">
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/1.png" alt="1.png"></div>
              </div>
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/2.png" alt="2.png"></div>
              </div>
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/3.png" alt="3.png"></div>
              </div>
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/4.png" alt="4.png"></div>
              </div>
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/5.png" alt="5.png"></div>
              </div>
              <div class="item">
                <div class="partner_item"><img class="wa m-auto" src="/x-x/images/partners/6.png" alt="6.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Our CTA --> 
    <section class="our-cta pt0">
      <div class="cta-banner bgc-f7 mx-auto maxw1600 pt120 pt60-md pb120 pb60-md bdrs12 position-relative mx20-lg">
        <div class="img-box-5">
          <img class="img-1 spin-right" src="/x-x/images/about/element-1.png" alt="">
        </div>
        <div class="img-box-6">
          <img class="img-1 spin-left" src="/x-x/images/about/element-1.png" alt="">
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7 col-xl-6 wow fadeInLeft">
              <div class="cta-style1">
                <h2 class="cta-title">Need help? Talk to our expert.</h2>
                <p class="cta-text mb-0">Talk to our experts or Browse through more properties.</p>
              </div>
            </div>
            <div class="col-lg-5 col-xl-6 wow fadeInRight" data-wow-delay="300ms">
              <div class="cta-btns-style1 d-block d-sm-flex align-items-center justify-content-lg-end">
                <a href="#" class="ud-btn btn-transparent mr30 mr0-xs">Contact Us<i class="fal fa-arrow-right-long"></i></a>
                <a href="#" class="ud-btn btn-dark"><span class="flaticon-call vam pe-2"></span>+234810986587</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  
    <!-- # footer & scroll up # -->
    <%- include("./partials/footer.ejs") -%>
    <!-- footer end - -->
  </div>
</div>
  <%- include("./partials/scriptLinks.ejs") -%>
</body>

</html>