<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">
<title>Approve Edit</title>
  
<%- include("../partials/headLinks.ejs") -%>

<style>
  /* disable controls from nav */
  nav.position-relative:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    /* background: green; */
    display: block;
}
i{
  cursor: pointer;
}
.selected{
  background-color: #9bee9c !important;
}
i.fa-circle-xmark:hover {
  color:#f59393;
}
i.fa-circle-check:hover {
  color:#9bee9c;
}

</style>
</head>
<body>
<div class="wrapper">
  <div class="preloader"></div>
  
 <!-- header ## -->
 <%- include("./partials/header.ejs") -%>
 <!-- ### header end : -->

  <div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-md">
      <!-- desktop side nav -->
      <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : true}) -%>
      <!-- desktop side nav:end -->

      <div class="dashboard__main pl0-md">
        <div class="dashboard__content property-page bgc-f7 position-relative">
        <% if(messages.error) {%>
          <div class="message-alart-style1">
            <div class="alert alart_style_one alert-dismissible fade show mb20" role="alert">Input Error: <%= messages.error %>
              <i class="far fa-xmark btn-close" data-bs-dismiss="alert" aria-label="Close"></i>
            </div>
          </div>
        <%}%>

          <div class="row pb40 d-block d-lg-none">
            <div class="col-lg-12">
             <!-- mobile side nav -->
              <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : false}) -%>
              <!-- mobile side nav:end -->
            </div>
          </div>
          <div class="row align-items-center pb40">
            <div class="col-lg-12">
              <div class="dashboard_title_area">
                <h2>Update property</h2>
                <% if(user.admin){%>
                  <p class="text">this property was updated by <%= prop.postedBy.name.split(" ")[0] %> on <%= prop.updatedAt.toString().slice(0,10) %> </p>
                  <%}else{%>
                  <p class="text">Property Edited, Awaiting approval from admin. if you still want to make changes visit : <a class="px-2 text-primary" style="text-decoration: underline;" href="/dashboard/edit/<%= prop._id %>" pagebutton="nav-item2">Edit </a> </p>
                <%}%>
              </div>
            </div>
          <div id="liveAlertPlaceholder" class="mt-2"></div>

          </div>
          <form class="row" action="/admin/approve/edit/<%= prop._id %>" method="POST" >
            <div class="col-xl-12">
              <div class="ps-widget bgc-white bdrs12 default-box-shadow2 pt30 mb30 overflow-hidden position-relative">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Present</th>
                      <th scope="col">Changes</th>
                      <% if(user.admin){%>
                      <th scope="col">Actions</th>
                      <%}%>
                    </tr>
                  </thead>
                  <tbody>
              <% for(props in prop.history){%>
                  <%if(props == 'carousel'){%>
                    <tr class="eachrow" id="carousel">
                      <td class="decline">
                        <% prop.carousel.filter(i=>i.show).forEach(image=>{%>
                          <img src="<%= image.url %>" width="100px" class="d-inline-block">
                          <%})%>
                          <input  type="hidden" xname="<%= props %>" value="<%=JSON.stringify(prop.carousel)%>">
                      </td>
                      <td class="accept">
                        <% prop.history.carousel.filter(i=>i.show).forEach(image=>{%>
                          <img src="<%= image.url %>" width="100px" class="d-inline-block">
                          <%})%>
                          <input  type="hidden" xname="<%= props %>" value="<%=JSON.stringify(prop.history.carousel)%>">
                      </td>
                      <% if(user.admin){%>
                      <td>
                        <i class="fa-sharp fa-solid fa-lg fa-circle-check" target-parent="#carousel" target-choice="accept"></i>
                        <i class="fa-sharp fa-solid fa-lg fa-circle-xmark" target-parent="#carousel" target-choice="decline"></i>
                      </td>
                      <%}%>
                    </tr>
                  <%}%>
                  <!-- updating contact just adds new contact the the array so no need to compare -->
                    <%if(props == 'contacts'){%>
                      <tr class="eachrow" id="contact">
                        <td colspan="2" class="text-center accept">
                          <p> Position -- Name -- Contact</p>
                          <% prop.history.contacts.forEach(contact=>{%>
                           <p><%= contact.whois + "--" + contact.name + "--" + contact.reach%></p> 
                          <%})%>
                          <input  type="hidden" xname="<%= props %>" value="<%=JSON.stringify(prop.history.contacts)%>">
                        </td>
                        <% if(user.admin){%>
                        <td>
                          <i class="fa-sharp fa-solid fa-lg fa-circle-check" target-parent="#contact" target-choice="accept"></i>
                          <i class="fa-sharp fa-solid fa-lg fa-circle-xmark" target-parent="#contact" target-choice="decline"></i>
                        </td>
                        <%}%>
                      </tr>
                    <%}%>
                      <%if(props == 'amenities'){%>
                        <tr class="eachrow" id="amenities">
                          <td  class="decline">
                            <%= prop.amenities.join(",")%>
                            <input  type="hidden" xname="<%= props %>" value="<%=JSON.stringify(prop.amenities)%>">
                          </td>
                          <td class="accept">
                            <%= prop.history.amenities.join(",")%>
                            <input  type="hidden" xname="<%= props %>" value="<%=JSON.stringify(prop.history.amenities)%>">
                          </td>
                          <% if(user.admin){%>
                          <td>
                            <i class="fa-sharp fa-solid fa-lg fa-circle-check" target-parent="#amenities" target-choice="accept"></i>
                            <i class="fa-sharp fa-solid fa-lg fa-circle-xmark" target-parent="#amenities" target-choice="decline"></i>
                          </td>
                          <%}%>
                        </tr>
                      <%}%>
                      
                      <%if(typeof prop.history[props] == 'string' ||  typeof prop.history[props] == 'number' ){%>
                        <tr class="eachrow" id="<%=props%>">
                          <td class="decline">
                            <%= prop[props] %>
                            <input  type="hidden" xname="<%= props %>" value="<%=prop[props]%>">
                          </td>
                          <td class="accept">
                            <%= prop.history[props]%>
                            <input  type="hidden" xname="<%= props %>" value="<%=prop.history[props]%>">
                          </td>
                          <% if(user.admin){%>
                            <td>
                              <i class="fa-sharp fa-solid fa-lg fa-circle-check" target-parent="#<%=props%>" target-choice="accept"></i>
                            <i class="fa-sharp fa-solid fa-lg fa-circle-xmark" target-parent="#<%=props%>" target-choice="decline"></i>
                          </td>
                          <%}%>
                        </tr>
                        <%}%>
                        <% if(props == 'complete'){%>
                          <tr class="eachrow" id="<%=props%>">
                            <td class="decline">
                              <%= prop[props] ? 'previously marked as complete' : 'previously marked as incomplete' ; %>
                              <%if(prop[props]){%>
                                <input  type="hidden" xname="<%= props %>" value="<%=prop[props]%>">
                                <%}else{%>
                                  <input  type="hidden" xname="<%= props %>" >
                              <%}%>
                            </td>
                            <td class="accept">
                              <%= prop.history[props] ? 'Marked as complete' : 'marked as incomplete' ; %>
                              <%if(prop.history[props]){%>
                                <input  type="hidden" xname="<%= props %>" value="<%=prop[props]%>">
                                <%}else{%>
                                  <input  type="hidden" xname="<%= props %>" >
                              <%}%>
                            </td>
                            <% if(user.admin){%>
                              <td>
                                <i class="fa-sharp fa-solid fa-lg fa-circle-check" target-parent="#<%=props%>" target-choice="accept"></i>
                              <i class="fa-sharp fa-solid fa-lg fa-circle-xmark" target-parent="#<%=props%>" target-choice="decline"></i>
                            </td>
                            <%}%>
                          </tr>
                        <%}%>
                        <%}%>
                        
                      </tbody>
                    </table>
                    <% if(user.admin){%>
                      <div class="navpill-style1">
                        <button class="nav-link fw500 dark-color mx-auto mb-2" id=" nav-pill-custom" > Submit</button>
                      </div>
                    <%}%>
              </div>
            </div>
          </form>
        </div>
        <%- include("./partials/footer.ejs") -%>

      </div>
    </div>
  </div>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
</div>

<!-- script  -->
  <%- include("./partials/script.ejs") -%>
  <!-- script end : -->

  <script>
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    const appendAlert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

  </script>

  <script>
    const choices = ['accept', 'decline']
    const makeselection = function(e){
      const parent = document.querySelector(e.target.getAttribute("target-parent"))
      // adding name attribute to selected
      parent.querySelector(`td.${e.target.getAttribute("target-choice")} input`)?.setAttribute("name", parent.querySelector(`.${e.target.getAttribute("target-choice")} input`).getAttribute("xname"))
      parent.querySelector(`td.${e.target.getAttribute("target-choice")}`)?.classList.add("selected")
     // removing name attribute from unselected
      parent.querySelector(`td.${choices.filter(ch=> ch !==  e.target.getAttribute("target-choice"))[0]} input`)?.removeAttribute("name")
      parent.querySelector(`td.${choices.filter(ch=> ch !==  e.target.getAttribute("target-choice"))[0]}`)?.classList.remove("selected")
      // paint the box of selected && paint the I-tag
    }
    const checkAllChoices = function(e){
      const allrows = Array.from(document.getElementsByClassName("eachrow"))
      let pass = true;
      allrows.forEach(row=>{
        const rowinputs = Array.from(row.querySelectorAll("input"))
        if(rowinputs.length == 1) return;
        pass = pass &&  rowinputs.map(i=> i.getAttributeNames().includes("name")).includes(true)
      })
     if(pass) return ;
     e.preventDefault();
     return appendAlert('Please make sure all changes are either approved or declined!', 'primary')
    }
    document.forms[0].addEventListener("submit", checkAllChoices)
    const I = Array.from(document.getElementsByTagName("I"))
    I.forEach(i=> i.addEventListener("click", makeselection ))
  </script>
</body>

</html>