<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">

<%- include("../partials/headLinks.ejs") -%>

</head>
<body>
<div class="wrapper">
  <div class="preloader"></div>
  
    <!-- header ## -->
    <%- include("./partials/header.ejs") -%>
    <!-- ### header end : -->

  <div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-md">
     <!-- desktop side nav -->
       <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : true}) -%>
       <!-- desktop side nav:end -->
      <div class="dashboard__main pl0-md">
        <div class="dashboard__content bgc-f7">
          <div class="row pb40">
            <div class="col-lg-12">
              <!-- mobile side nav -->
              <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : false}) -%>
              <!-- mobile side nav:end -->
            </div>
            <div class="col-lg-12">
              <div class="dashboard_title_area">
                <h2>Agents</h2>
                <p class="text">Manage accounts </p>
              </div>
            </div>
            <div class="col-xxl-9">
              <div class="dashboard_search_meta d-md-flex align-items-center justify-content-xxl-end">
                <div class="page_control_shorting bdr1 bdrs12 py-2 ps-3 pe-2 mx-1 mx-xxl-3 bgc-white mb15-sm ">
                  <div class="pcs_dropdown d-flex align-items-center"><span class="title-color pe-1">Sort Accounts:</span>
                    <select id="sort_" class="selectpicker show-tick">
                      <option value="">All</option>
                      <option value="type.admin">Admins</option>
                      <option value="type.agent">Agents</option>
                      <option value="status.active">Active Agents</option>
                      <option value="status.disabled">Disabled</option>
                    </select>
                  </div>
                </div>
                <div id="count"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
                <div class="packages_table table-responsive">
                  <table class="table-style3 table at-savesearch">
                    <thead class="t-head">
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody class="t-body">
                      <% accounts.forEach(acc=>{%>
                        <tr class="accs" sort_type="<%= acc.admin ? 'admin' : 'agent' %>" sort_status="<%= acc.admin ? '' : acc.disabled ? 'disabled' : 'active' %>">
                          <th scope="row"> 
                            <h6><%= acc.name %></h6>
                            <p class="text"><%= acc.admin ? "(Admin)" : "" %></p>
                          </th>
                          <td> <%= acc.email %> </td>
                          <td>
                            <div class="d-flex">
                              <a href="/dashboard/profile/<%= acc._id %>" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="fullscreen"><span class="flaticon-fullscreen-1"></span></a>
                              <!-- <a href="#" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><span class="fas fa-pen fa"></span></a> -->
                              <!-- <a href="#" class="icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><span class="flaticon-bin"></span></a> -->
                            </div>
                          </td>
                        </tr>
                      <%})%>
                    </tbody>
                  </table>
                  <!-- <div class="mbp_pagination text-center mt30">
                    <ul class="page_navigation">
                      <li class="page-item">
                        <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item"><a class="page-link" href="#">...</a></li>
                      <li class="page-item"><a class="page-link" href="#">20</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                      </li>
                    </ul>
                    <p class="mt10 pagination_page_count text-center">1 – 20 of 300+ property available</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="dashboard_footer pt30 pb10">
          <div class="container">
            <div class="row items-center justify-content-center justify-content-md-between">
              <div class="col-auto">
                <div class="copyright-widget">
                  <p class="text">© Homez - All rights reserved</p>
                </div>
              </div>
              <div class="col-auto">
                <div class="footer_bottom_right_widgets text-center text-lg-end">
                  <p><a href="#">Privacy</a>  ·  <a href="#">Terms</a>  ·  <a href="#">Sitemap</a></p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
</div>
 <!-- script  -->
 <%- include("./partials/script.ejs") -%>
 <!-- script end : -->
 <script>
   const allAccs = Array.from(document.querySelectorAll(".accs"))
   document.getElementById("count").innerHTML = allAccs.length + " Accounts"
  document.getElementById("sort_").addEventListener("change", sortAccs)
  function sortAccs(e){
    console.log("changed", allAccs)
    allAccs.forEach(acc=>{
      if(!e.target.value) return acc.classList.remove("d-none")
      acc.classList.remove("d-none")
      if(acc.getAttribute("sort_"+e.target.value.split(".")[0]) !== e.target.value.split(".")[1]) return acc.classList.add("d-none")
    })
    document.getElementById("count").innerHTML = allAccs.filter(a=> !a.classList.value.includes("d-none")).length + " Accounts"
  }
 </script>
</body>

</html>