<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">
<title>Add new Location</title>
  
<%- include("../partials/headLinks.ejs") -%>

<style>
 


</style>
</head>
<body>
<div class="wrapper">
  <div class="preloader"></div>
  
 <!-- header ## -->
 <%- include("./partials/header.ejs") -%>
 <!-- ### header end : -->

  <div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-md">
      <!-- desktop side nav -->
      <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : true}) -%>
      <!-- desktop side nav:end -->

      <div class="dashboard__main pl0-md">
        <div class="dashboard__content property-page bgc-f7 position-relative">
        <% if(messages.error) {%>
          <div class="message-alart-style1">
            <div class="alert alart_style_one alert-dismissible fade show mb20" role="alert">Input Error: <%= messages.error %>
              <i class="far fa-xmark btn-close" data-bs-dismiss="alert" aria-label="Close"></i>
            </div>
          </div>
        <%}%>
          <input type="hidden" name="division" value="<%= JSON.stringify(division) %>">
          <div class="row pb40 d-block d-lg-none">
            <div class="col-lg-12">
             <!-- mobile side nav -->
              <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : false}) -%>
              <!-- mobile side nav:end -->
            </div>
          </div>
          <div class="row align-items-center pb40">
            <div class="col-lg-12">
              <div class="dashboard_title_area">
                <h2>Add New Location</h2>
                <p class="text">We are glad to see you again!</p>
              </div>
            </div>
          </div>
        



          <div class="col-xl-12">
            <div class="ps-widget bgc-white bdrs12 default-box-shadow2 pt30 mb30 overflow-hidden position-relative">
              <div class="navtab-style1">
                <nav class="position-relative" >
                  <div class="nav nav-tabs" id="nav-tab2" role="tablist">
                    <button class="nav-link active fw600" id="nav-item2-tab" data-bs-toggle="tab" data-bs-target="#nav-item1" type="button" role="tab" aria-controls="nav-item1" aria-selected="false">1. Add new Area</button>
                    <button class="nav-link  fw600 ms-3" id="nav-item1-tab" data-bs-toggle="tab" data-bs-target="#nav-item2" type="button" role="tab" aria-controls="nav-item2" aria-selected="true">2. Select LG's</button>
                  </div>
                </nav>
                <!-- chrome for some reason removes the first embeded form element withing a parent form: so good luck with this succers -->
                <form ></form>

                <div class="tab-content" id="nav-tabContent" >
                  <div class="tab-pane fade show active" id="nav-item1" role="tabpanel" aria-labelledby="nav-item1-tab">                      
                    <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                      <div class="row">
                        <div class="col-sm-12">
                          <form action="/admin/newarea" method="POST">
                              <div class="row">
                                <div class="col-sm-12">
                                  <div class="mb20">
                                    <label class="heading-color ff-heading fw600 mb10">Local Govs</label>
                                    <div class="location-area">
                                      <select class="selectpicker" required name="localgovs">
                                        <option value="" > Select..</option>
                                        <% division.filter(h=> !h.hide).forEach(d=>{%>
                                          <option> <%= d.localgov %></option>
                                     <%})%>
                                      </select>
                                    </div>
                                  </div>
                                  <ul class="mb20 py-2 row" areaList >
                                    </ul>
                                </div>
                                  <div class="col-sm-12">
                                      <div class="mb20">
                                          <label class="heading-color ff-heading fw600 mb10" id="label"> Add area </label>
                                          <input type="text" name="newarea" required class="form-control" placeholder="New Area">
                                      </div>
                                      <div class="mb20">
                                        <label class="heading-color ff-heading fw600 mb10" id="label"> Distance  </label>
                                        <input type="text" name="distance" required class="form-control" placeholder="Distance from school gate">
                                    </div>
                                      <div class="mb20 ">
                                        <button class="ud-btn btn-thm mx-auto d-block"  type="submit">Add<i class="fal fa-arrow-right-long"></i></button>
                                      </div>
                                  </div>
                              </div>
                              </form>
                        </div>
                    </div>
                    </div>
                  </div>

                  <div class="tab-pane fade " id="nav-item2" role="tabpanel" aria-labelledby="nav-item2-tab">                      
                    <div class="ps-widget bgc-white bdrs12 p30 overflow-hidden position-relative">
                      <div class="row">
                        <div class="col-sm-12">
                          <form action="/dashboard/update/localgov" method="POST">
                              <div class="row">
                                <div class="col-sm-12 ps-4 mb10">
                                  <h4 class="title fz17 mb10"> All Local Governments</h4>
                                  <p class="text">only selected LG are available on site</p>
                                    <div class="checkbox-style1 row mb30 gy-2">
                                      <% division.forEach(divi=>{%>
                                        <label class="custom_checkbox col-sm-6 col-xl-4"> <%= divi.localgov %>
                                          <input type="checkbox" name="lgs" <%= divi.hide ? "" : "checked" %> value="<%= divi.localgov %>">
                                          <span class="checkmark"></span>
                                        </label>
                                      <%})%>
                                    </div>
                                    <div class="mb20 ">
                                      <button class="ud-btn btn-thm mx-auto d-block"  type="submit">Update<i class="fal fa-arrow-right-long"></i></button>
                                    </div>
                                  </div>
                              </div>
                          </form>
                        </div>
                    </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>




        </div>
        <%- include("./partials/footer.ejs") -%>

      </div>
    </div>
  </div>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
</div>

<!-- script  -->
  <%- include("./partials/script.ejs") -%>
  <!-- script end : -->
  <script>
      const division = JSON.parse(document.querySelector("input[name='division']").value)


      function switchAreas(e){
          const chosen = division.filter(divi=> divi.localgov == e.target.value )[0]
          let html = "" 
          document.getElementById("label").innerHTML = "Add new area to <b>"+ chosen.localgov+"</b>"
          chosen.group.map(ob=>ob.junction).forEach(g=> html+= "<li class='col-sm-6'> "+ g + "</li>")
          console.log(html)
           document.querySelector("ul[arealist]").innerHTML = html
      }
      document.querySelector("select[name='localgovs']").addEventListener("change", switchAreas)
</script>

</body>

</html>