<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="advanced search, agency, agent, classified, directory, house, listing, property, real estate, real estate agency, real estate agent, realestate, realtor, rental">
<meta name="description" content="Homez - Real Estate HTML Template">
<meta name="CreativeLayers" content="ATFN">

<%- include("../partials/headLinks.ejs") -%>
<!-- Title -->
<title>Profile</title>

</head>
<body>
<div class="wrapper">
  <div class="preloader"></div>
   <!-- header ## -->
 <%- include("./partials/header.ejs") -%>
 <!-- ### header end : -->

  <div class="dashboard_content_wrapper">
    <div class="dashboard dashboard_wrapper pr30 pr0-md">
       <!-- desktop side nav -->
       <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : true}) -%>
       <!-- desktop side nav:end -->
      <div class="dashboard__main pl0-md">
        <div class="dashboard__content property-page bgc-f7">
          <div class="row pb40 d-block d-lg-none">
            <div class="col-lg-12">
                <!-- mobile side nav -->
                <%- include("./partials/desk&mobilesidenav.ejs", {desktopdisplay : false}) -%>
                <!-- mobile side nav:end -->
            </div>
          </div>
          <div class="row align-items-center pb40">
            <div class="col-lg-12">
              <div class="dashboard_title_area">
                <h2> <%= !user.adminaccess ? 'My Profile' : 'Profile of ' + user.name.split(" ")[0] %></h2>
                <p class="text">We are glad to see you again!</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="ps-widget bgc-white bdrs12 default-box-shadow2 p30 mb30 overflow-hidden position-relative">
                <div class="col-lg-12 mb20">
                  <div class="ui-content">
                    <h4 class="mb20"> <%= user.name %></h4>
                    <p class="mb10 ff-heading">Email : <%= user.email %></p>
                    <p class="ff-heading"> Verified : <%= user.admin ? "Admin" : user.agent ? "Agent" : "User account" %></p>
                    <p class="ff-heading"> Posts : <%= ownprops.length %></p>
                  </div>
                  <% if(!user.admin && user.adminaccess){%>
                    <div class="col-sm-12 col-md-6">
                        <form class="text space fz15 mr10" method="POST" action="/admin/user/<%= user._id %>">
                          <button class="ud-btn btn-thm mr20" value="delete" name="type" type="submit">Delete</i></button>
                          <button class="ud-btn btn-fb" value="<%= user.disabled ? 'activate' : 'deactivate' %>" name="type" type="submit"> <%= user.disabled ? 'Activate' : 'Deactivate' %> </i></button>
                        </form>
                    </div>
                  <%}%>
          </div>
          </div>
        </div>

        <section class="pt0 pb90 bgc-f7">
          <div class="container">
            <div class="row">
              <% ownprops.forEach(props=>{ %>
                <div class="col-sm-6 ">
                  <div class="listing-style1">
                    <div class="list-thumb">
                      <img class="w-100" src="<%= props.carousel[0] %>" alt="">
                      <%if(props.label){%>
                        <div class="list-tag fz12"><span class="flaticon-electricity me-2"></span>PROMOTED</div>
                      <%}%>
                      <div class="list-price">$<%= props.cost.toLocaleString() %> / <span>yr</span></div>
                    </div>
                    <div class="list-content">
                      <h6 class="list-title"><a href="/details/<%= props._id %>"></a></h6>
                      <p class="list-text"><%= props.area + ", " + props.localgovs %></p>
                      <div class="list-meta d-flex align-items-center">
                        <a href="#"><span class="flaticon-bed"></span><%- props.rooms %> bed</a>
                        <a href="#"><span class="flaticon-shower"></span><%= props.bathrooms %> bath</a>
                        <a href="#"><span class="flaticon-expand"></span>1200 sqft</a>
                      </div>
                      <hr class="mt-2 mb-2">
                      <!-- <div class="list-meta2 d-flex justify-content-between align-items-center">
                        <span class="for-what">For Rent</span>
                        <div class="icons d-flex align-items-center">
                          <a href="/details/<%= props._id %>"><span class="flaticon-fullscreen"></span></a>
                          <a href="#"><span class="flaticon-like"></span></a>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              <%})%>
            </div>
            <!-- Pagination -->
            <!-- <div class="row">
              <div class="mbp_pagination text-center">
                <ul class="page_navigation">
                  <li class="page-item">
                    <a class="page-link" href="#"> <span class="fas fa-angle-left"></span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">20</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="fas fa-angle-right"></span></a>
                  </li>
                </ul>
                <p class="mt10 pagination_page_count text-center">1 – 20 of 300+ user available</p>
              </div>
            </div> -->
          </div>
        </section>

        <footer class="dashboard_footer pt30 pb10">
          <div class="container">
            <div class="row items-center justify-content-center justify-content-md-between">
              <div class="col-auto">
                <div class="copyright-widget">
                  <p class="text">© Homez - All rights reserved</p>
                </div>
              </div>
              <div class="col-auto">
                <div class="footer_bottom_right_widgets text-center text-lg-end">
                  <p><a href="#">Privacy</a>  ·  <a href="#">Terms</a>  ·  <a href="#">Sitemap</a></p>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  <a class="scrollToHome" href="#"><i class="fas fa-angle-up"></i></a>
</div>
  <!-- script  -->
  <%- include("./partials/script.ejs") -%>
  <!-- script end : -->

</body>

</html>